body.is-translucent {
  background-color: transparent;
}
.theme-dark {--opacity-translucency: 0.5;}
.theme-light { --opacity-translucency: 0.5; }

.is-translucent.theme-light .titlebar { opacity: 0.8; }
.is-translucent.theme-dark .titlebar { opacity: 0.5 !important; }
.is-translucent img { background-color: transparent; filter: contrast(1.12) brightness(0.74); opacity: 0.5 !important;}
.is-translucent .workspace { background-color: transparent; filter: contrast(1.2) brightness(1.34);}
.is-translucent .workspace-split.mod-root { opacity: var(--opacity-translucency); }
.is-translucent.theme-light .workspace-leaf-resize-handle { opacity: 0.1; background-color: transparent;}
.is-translucent.theme-dark .workspace-leaf-resize-handle { opacity: 0.5 !important; background-color: transparent;}
.is-translucent .workspace-leaf-resize-handle:hover { background-color: transparent; }
.is-translucent.theme-light .workspace-ribbon { opacity: 0.55; }
.is-translucent.theme-dark .workspace-ribbon { opacity: 0.5 !important; }
.is-translucent .workspace-tabs { opacity: 0.6; }
.is-translucent.theme-dark .status-bar {
   opacity: 0.5 !important; 
   border-top: 0px solid var(--background-secondary-alt); 
   margin: 0px 0px; }
.is-translucent.theme-light .status-bar {
    opacity: 0.8; 
    border-top: 0px solid var(--background-secondary-alt); 
    margin: 0px 0px; }
.is-translucent.theme-dark .view-content > iframe {
    background-color: transparent !important;
    opacity: 0.5 !important;
  }
