/* 
/* Method 1 */
/*
.workspace-leaf,
.workspace-tab-header-container {
  background: transparent;
}

.workspace-split.mod-root,
.workspace-split.mod-root .view-content,
.workspace-split.mod-root .view-header {
  background: transparent;
}

.view-header-title-container:not(.mod-at-end):after {
  background: transparent;
} 

*/


/* Method 2 */


body {
    --background-primary: #201c22 !important;
    --titlebar-background: transparent !important;
    --titlebar-background-focused: var(--titlebar-background);
    --text-normal: #f1f1f1 !Important;
    --workspace-background-translucent: rgba(var(--mono-rgb-0), 0.65);
    opacity: 0.75 !important;
    
}

.view-content {
    background: transparent;
}

.workspace-tab-header.is-active {
    color: #fff !Important;
}


.workspace-leaf,
.workspace-tab-header-container {
    background: transparent;
}

.workspace-split.mod-root,
.workspace-split.mod-root .view-content,
.workspace-split.mod-root .view-header {
    background: transparent;
}

.view-header-title-container:not(.mod-at-end):after {
    background: transparent;
}

.custom-frames-frame {
    background: transparent !important;
}

.is-focused .workspace-leaf.mod-active .view-header {
    background: transparent;
}


/*
/* Method 3 */
/*
body.is-translucent {
  background-color: transparent;
}
.theme-dark {--opacity-translucency: 0.7;}
.theme-light { --opacity-translucency: 0.5; }

.is-translucent.theme-light .titlebar { opacity: 0.8; }
.is-translucent.theme-dark .titlebar { opacity: 1; }
.is-translucent img { background-color: transparent; filter: contrast(1.12) brightness(0.74); opacity:1;}
.is-translucent .workspace { background-color: transparent; filter: contrast(1.2) brightness(1.34);}
.is-translucent .workspace-split.mod-root { opacity: var(--opacity-translucency); }
.is-translucent.theme-light .workspace-leaf-resize-handle { opacity: 0.1; background-color: var(--background-secondary-alt);}
.is-translucent.theme-dark .workspace-leaf-resize-handle { opacity: 1; background-color: var(--background-secondary-alt);}
.is-translucent .workspace-leaf-resize-handle:hover { background-color: rgba(var(--interactive-accent-rgb), 0.8); }
.is-translucent.theme-light .workspace-ribbon { opacity: 0.55; }
.is-translucent.theme-dark .workspace-ribbon { opacity: 1; }
.is-translucent .workspace-tabs { opacity: 0.6; }
.is-translucent.theme-dark .status-bar {
   opacity: 1; 
   border-top: 0px solid var(--background-secondary-alt); 
   margin: 0px 0px; }
.is-translucent.theme-light .status-bar {
    opacity: 0.8; 
    border-top: 0px solid var(--background-secondary-alt); 
    margin: 0px 0px; }
.is-translucent.theme-dark .view-content > iframe {
    background-color: rgb(1, 12, 10) !important;
    opacity: 1;
  }

*/
