# Add below lines to exclude OS settings, logs, and caches
.trash/
.DS_Store/
.logs/*.log                                                                                                                                             /0.0s
.logs/*                                                                                                                                             /0.0s

