[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule ".zsh/themes/powerlevel10k"]
	path = .zsh/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "zsh-configs/plugins/zsh-autosuggestions"]
	path = zsh-configs/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh-configs/themes/powerlevel10k"]
	path = zsh-configs/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule ".config/tmux/plugins/tmux-sensible"]
	path = .config/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule ".config/oh-my-tmux"]
	path = .config/oh-my-tmux
	url = https://github.com/gpakosz/.tmux.git
